pandas          # DataFrame
numpy           # Matrix

scikit-learn    # ML, PCA, Clustering
scipy           # Scientific computations
statsmodels     # Advanced stat tools

matplotlib      # Viz 
seaborn         # Viz
plotly          # Viz

jupyter         # Notebook
notebook        # Notebook
jupyterlab      # Notebook
jupytext        # Notebook
nbconvert       # Notebook


pytest          # Tests
black           # Code formating
black[jupyter]  # Code formationg
mypy            # Code QA
isort           # Code formating
